HA_URL=http://192.168.68.61:8123
HA_TOKEN=replace_with_your_home_assistant_long_lived_token
CORE_ENTITY_IDS=sensor.saj_pv_power,sensor.saj_battery_power,sensor.saj_total_grid_power,sensor.saj_total_load_power,sensor.saj_battery_energy_percent,sensor.saj_inverter_status
